@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #242942;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin: 0;
  height: 100vh;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #eef3f6;
  height: 57vh;
  width: 47vw;
  z-index: -1;
  border-bottom-left-radius: 50px;
}

h1,
h3,
button,
nav,
a {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #a0a1ac;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
}

.container > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav {
  padding-top: 2rem;
  margin-bottom: -1rem;
}

nav .logo {
  width: 1.8rem;
}

nav .hamburger {
  display: none;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul .faded a {
  color: #a0a1ac;
}

nav ul .dot a {
  font-size: 2.5rem;
  position: relative;
  top: -1rem;
}

nav ul li {
  margin-left: 2.5rem;
}

nav ul li a {
  color: #242942;
  font-weight: 700;
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80%;
  overflow: hidden;
}

main .heading {
  max-width: 50%;
  margin-right: -22rem;
}

main .heading span {
  background-color: #242942;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 30px;
  margin-right: 0.9rem;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

main .heading h1 {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
  letter-spacing: 1px;
  max-width: 500px;
}

main .heading p {
  color: #5b5f71;
  font-size: 1.1rem;
  max-width: 265px;
  margin-top: 1.5rem;
  line-height: 1.3;
}

main .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  top: -0.1rem;
}

main .cta .btn {
  background: #ff5c5c;
  border: 0;
  color: white;
  padding: 0.8rem 1.7rem;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 1.5rem;
  letter-spacing: 2px;
  outline: none;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

main .cta .btn:hover {
  background: #ff7575;
}

main .cta .btn:focus {
  outline: none;
}

main .illustration img {
  width: 100%;
  -webkit-transform: translateX(43%) translateY(35px);
          transform: translateX(43%) translateY(35px);
}

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 1rem;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 90%;
  }
  nav .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
  main {
    text-align: center;
    padding-bottom: 2rem;
  }
  main .heading {
    margin-top: 3rem;
    max-width: 75%;
    margin-right: 0;
    text-align: left;
  }
  main .heading span {
    padding: 0.3rem 0.7rem;
    margin-right: 1rem;
    font-size: 1.1rem;
  }
  main .heading h1 {
    font-size: 4rem;
    max-width: 100%;
  }
  main .heading p {
    font-size: 1.2rem;
    max-width: 100%;
  }
  main .illustration img {
    margin-top: 3rem;
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@media screen and (max-width: 375px) {
  body::after {
    height: 64vh;
    width: 46vw;
  }
  h3 {
    font-size: 1.2rem;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 90%;
  }
  nav {
    padding: 2rem 0 4rem 0;
    margin-bottom: 0;
  }
  nav .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .logo {
    width: 2rem;
    margin-left: 0.5rem;
  }
  nav .hamburger {
    display: block;
    outline: none;
  }
  nav .hamburger .close {
    display: none;
    outline: none;
  }
  nav .hamburger .close.show-nav {
    display: block;
  }
  nav .hamburger .open {
    display: block;
  }
  nav .hamburger .open.show-nav {
    display: none;
  }
  nav #menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    text-align: center;
    top: 5rem;
    left: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    width: calc(100% - 3rem);
    padding: 1rem;
    letter-spacing: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
    z-index: 2;
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
  }
  nav #menu.show-nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  nav #menu li {
    margin: 1rem;
  }
  nav #menu li a {
    font-size: 1.4rem;
  }
  nav #menu .dot {
    position: relative;
  }
  nav #menu .dot::after {
    content: "";
    width: 280px;
    height: 1px;
    position: absolute;
    background-color: #eef3f6;
    right: -140px;
  }
  nav #menu .dot a {
    display: block;
    font-size: 0px;
  }
  main {
    text-align: center;
    padding-bottom: 2rem;
  }
  main .heading {
    margin-top: 6.5rem;
    max-width: 96%;
  }
  main .heading span {
    padding: 0.3rem 0.7rem;
    margin-right: 1rem;
    font-size: 1.1rem;
  }
  main .heading h1 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
  main .heading p {
    font-size: 1.3rem;
    max-width: 96%;
  }
  main .illustration img {
    margin: 1rem 0 2rem 0;
    -webkit-transform: scale(1.5) translateY(1.2rem) translateX(3rem);
            transform: scale(1.5) translateY(1.2rem) translateX(3rem);
  }
  main .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    max-width: 100%;
  }
  main .cta h3 {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  main .cta .btn {
    padding: 0.8rem 1.4rem;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
/*# sourceMappingURL=styles.css.map */